#haftung {
	background-color:white;
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
	margin-bottom:0px;	
	height:150vh;
   	width:720px;
}
.f{
font-weight:bold;
color:#FF8C00;	
}
.g{
font-size:18px;	
}	