#login {
	background-color:white;
	margin-top:40px;
	margin-left:auto;
	margin-right:auto;
	width:400px;
	
}

#forgot-password {
	font-size:12px;
	font-weight:normal;
	color:blue;
}

.input-field {
	width:280px;
}
