.story {
	width:100%;
	font-family:Arial, sans-serif;
	text-align:left;
}

.story .header {
	padding:3px;
	line-height:18px;
	background-color:#adc4cc;
	border:solid grey 1px;
	
	text-align:center;
	width:67%;	
	margin:0 auto;
}

.story .body {
	padding:12px;
	background-color:white;
	border:solid grey 3px;
	
	text-align:left;
	
}

.story .footer {
	padding:3px;
	line-height:18px;
	background-color:#adc4cc;
	border:solid grey 1px;
	
	text-align:center;
	width:67%;		
	margin:0 auto;
}

.chronicle ul li{
	display: block;
}

.story .left{
	width:22%
}

.story .middle{
	width:53%;
	text-align:left;
}

.story .right{
	text-align:right;
	width:55%
}
