* {
	padding: 0;
	margin: 0;
}

a:link {
	text-decoration: none;
	color: #7e7e7e;
}

a:visited {
	text-decoration: none;
	color: #7e7e7e;
}

a:hover {
	color: #00FF00;
	text-decoration: none;
}

body {
	background-color: whitesmoke;
	margin: 0;
	padding: 0;
	border: 0;
	color: #333;
}

#header {
	height: 100px;
	width: 100%;
	z-index: 10;
	background: #708090;
	margin: o auto;
	padding: 0;
}

#logo {
	float: left;
	font-weight: bolder;
	font-size: 74px;
	margin-left: 40px;
	padding-top: 5px;
}

#logo a {
	color: #F5FFFA;
}

#logo a:hover {
	color: #00FF00;
}

#nav ul {
	float: right;
	z-index: 50;
	overflow: hidden;
	font-size: 20px;
	display: inline-block;
	vertical-align: top;
	margin: 50px 14px 14px 40px;
	z-index: 10;
}

#nav ul li {
	overflow: hidden;
	float: left;
	list-style-type: none;
	margin-right: 40px;
}

#nav ul li a {
	color: #F5FFFA;
}

#nav ul li a:hover {
	color: #00FF00;
}

#content {
	min-height: 600px;
	font-size: 17px;
	padding-top: 40px;
	margin-left: 40px;
}

#content h2 {
	font-size: 28px;
	padding-bottom: 40px;
}

table,input,select {
	font-size: 17px;
	margin-left: 5px;
	margin-top: 5px;
}

table,thead {
	margin-left: 5px;
}

table,thead,tr,th {
	margin-left: 5px;
}

table,label {
	margin-left: 0;
}

.clearfix:before,.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
	background: #708090;
	border-bottom: solid;
	border-color: #696969;
}

.list {
	list-style: none;	
}

#footer {
	float: left;
	width: 100%;
	height: 30px;
	padding-left: 40px;
	margin-top: 40px;
}