a:link {
	text-decoration: none;
	color: #F5FFFA;;
}

a:visited {
	text-decoration: none;
	color: #F5FFFA;;
}

a:hover {
	color: #696969;
	text-decoration: none;
}

body {
	background-color: whitesmoke;
	margin: 0;
	padding: 0;
	border: 0;
}

#header {
	height: 150px;
	width: 100%;
	z-index: 10;
	background: #708090;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	letter-spacing: 4px;
	margin: o auto;
	padding: 0;
	border-bottom: solid;
	border-color: #696969;
}

#logo {
	float: left;
	font-size: 250%;
	padding-top: 50px;
	padding-bottom: 10px;
	font-weight: bolder;
	font-size: 250%;
	font-size: 250%;
	margin-left: 20px; 
}

#nav ul {
	float: right; z-index : 10;
	overflow: hidden;
	font-size: 20px;
	display: inline-block;
	vertical-align: top;
	margin: 60px 14px 14px 50px;
	z-index: 10;
}

#nav ul li {
	overflow: hidden;
	float: left;
	list-style-type: none;
	border-width: 1px;
	border-style: solid;
	border-color: #696969;
	margin-right: 5px;
}

#nav ul li a {
	color: #F5FFFA;
}

#nav ul li a:hover {
	color: #696969;
}

.clearfix:before,.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

/*
#body {
	margin: 0;
	font-size: 13px;
	background: whitesmoke;
	font-family: Tahoma;
}

#header {
	border-bottom: solid;
	background: -moz-linear-gradient(top, rgba(255, 48, 25, 1) 0%,
		rgba(207, 4, 4, 1) 100%);
	background: -webkit-linear-gradient(top, rgba(255, 48, 25, 1) 0%,
		rgba(207, 4, 4, 1) 100%);
	background: linear-gradient(to bottom, rgba(255, 48, 25, 1) 0%,
		rgba(207, 4, 4, 1) 100%);
	height: 100px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding-top: 10px;
}

#header #logo {
	font-size: 25px;
	color: white;
}

#header #nav ul li {
	border-top: 1px solid white;
	border-right: 1px solid white;
	border-left: 1px solid white;
	padding: 15px;
	margin-top: 5px;
	list-style-type: none;
	float: left;
	background: rgb(204, 0, 0); /* Old browsers */
background




:




-moz-linear-gradient




(
top
,
rgba




(
204
,
0
,
0
,
1
)
0%
,
rgba




(
204
,
0
,
0
,
1
)
100%
); /* FF3.6+ */
background




:




-webkit-gradient




(
linear
,
left




top
,
left




bottom
,
color-stop




(
0%
,
rgba




(
204
,
0
,
0
,
1
)
)
,
color-stop




(
100%
,
rgba




(
204
,
0
,
0
,
1
)
)
);
/* Chrome,Safari4+ */
background




:




-webkit-linear-gradient




(
top
,
rgba




(
204
,
0
,
0
,
1
)
0%
,
rgba




(
204
,
0
,
0
,
1
)
100%
); /* Chrome10+,Safari5.1+ */
background




:




-o-linear-gradient




(
top
,
rgba




(
204
,
0
,
0
,
1
)
0%
,
rgba




(
204
,
0
,
0
,
1
)
100%
);
/* Opera 11.10+ */
background




:




-ms-linear-gradient




(
top
,
rgba




(
204
,
0
,
0
,
1
)
0%
,
rgba




(
204
,
0
,
0
,
1
)
100%
); /* IE10+ */
background




:




linear-gradient




(
to




bottom
,
rgba




(
204
,
0
,
0
,
1
)
0%
,
rgba




(
204
,
0
,
0
,
1
)
100%
); /* W3C */
filter




:




progid




:















 















DXImageTransform




.Microsoft




.gradient




(
startColorstr




=
'
#cc0000




'
,
endColorstr




=
'
#cc0000




'
,
GradientType




=
0
);
/* IE6-9 */
}
#header #nav ul li a {
	color: white;
	font-size: 16px;
	font-weight: bolder;
}

#content {
	margin-top: 50px;
	margin-left: 50px;
}

.ui-panel-titlebar {
	background: rgb(255, 48, 25); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255, 48, 25, 1) 0%,
		rgba(207, 4, 4, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,
		48, 25, 1)), color-stop(100%, rgba(207, 4, 4, 1)));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255, 48, 25, 1) 0%,
		rgba(207, 4, 4, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255, 48, 25, 1) 0%,
		rgba(207, 4, 4, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255, 48, 25, 1) 0%,
		rgba(207, 4, 4, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255, 48, 25, 1) 0%,
		rgba(207, 4, 4, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019',
		endColorstr='#cf0404', GradientType=0); /* IE6-9 */
	color: white;
}

.ui-button-text {
	background: rgb(255, 48, 25); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255, 48, 25, 1) 0%,
		rgba(207, 4, 4, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,
		48, 25, 1)), color-stop(100%, rgba(207, 4, 4, 1)));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255, 48, 25, 1) 0%,
		rgba(207, 4, 4, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255, 48, 25, 1) 0%,
		rgba(207, 4, 4, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255, 48, 25, 1) 0%,
		rgba(207, 4, 4, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255, 48, 25, 1) 0%,
		rgba(207, 4, 4, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019',
		endColorstr='#cf0404', GradientType=0); /* IE6-9 */
	color: white;
}

.ui-button-text:hover {
	background: rgb(204, 0, 0); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(204, 0, 0, 1) 0%,
		rgba(204, 0, 0, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(204,
		0, 0, 1)), color-stop(100%, rgba(204, 0, 0, 1)));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(204, 0, 0, 1) 0%,
		rgba(204, 0, 0, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(204, 0, 0, 1) 0%,
		rgba(204, 0, 0, 1) 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(204, 0, 0, 1) 0%,
		rgba(204, 0, 0, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(204, 0, 0, 1) 0%,
		rgba(204, 0, 0, 1) 100%); /* W3C */
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr= '#cc0000',
		endColorstr= '#cc0000', GradientType= 0);
	/* IE6-9 */
	color: black;
}

.ui-widget-header {
	background: rgb(255, 48, 25); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255, 48, 25, 1) 0%,
		rgba(207, 4, 4, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,
		48, 25, 1)), color-stop(100%, rgba(207, 4, 4, 1)));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255, 48, 25, 1) 0%,
		rgba(207, 4, 4, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255, 48, 25, 1) 0%,
		rgba(207, 4, 4, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255, 48, 25, 1) 0%,
		rgba(207, 4, 4, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255, 48, 25, 1) 0%,
		rgba(207, 4, 4, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019',
		endColorstr='#cf0404', GradientType=0); /* IE6-9 */
	color: white;
}fdasfdsafadfdf

#j_idt33 {
	margin-left: auto;
	margin-right: auto;
}

.ui-panel {
	background: whitesmoke;
}
}
}
*
/